# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases & runtime data
*.db
*.sqlite
*.sqlite3
clipboard.db

# Backup files
*.bak
*.bak*
*~
*.swp
*.swo

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Packages & installer binaries
*.deb
*.rpm
*.iso
*.tar.gz
*.tar.xz
*.zip
.local/bin/bento-sock-send

# Logs
*.log
.local/share/bento-clip/images/*
!.local/share/bento-clip/images/.gitkeep
*.orig
