[Desktop Entry]
Type=Application
Exec=/usr/bin/python3 /home/df/.local/share/bento-toast/toast.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Bento Modern Toast Notifications
Comment=Catppuccin Floating Toast Notification Daemon
