[Desktop Entry]
Type=Application
Exec=/usr/bin/python3 /home/df/.local/share/bento-osd/osd.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Bento Modern Pill OSD
Comment=Catppuccin Floating Pill OSD Daemon
