[Desktop Entry]
Type=Application
Exec=sh -c "exec /usr/bin/python3 $HOME/.local/share/bento-wallpaper/wallpaper_daemon.py"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Wallpaper Switcher
Comment=Bento Wallpaper Switcher Daemon
